//Vars Color - Background
:root {
  // Color bg
  --bg-primary: #007bff;
  --bg-secondary: #6c757d;
  --bg-success: #28a745;
  --bg-danger: #FF0000;
  --bg-warning: #ffc107;
  --bg-info: #17a2b8;
  --bg-intro-ligth:#00a4e5;
  --bg-light: #f8f9fa;
  --bg-dark: #000000;
  --bg-gray-dark: #343a40;
  --bg-gray-light: #999999;
  --bg-white: #ffffff;
  --bg-color:#633a86;

  --bg-rgb: 154, 147, 140;
  --bg-rgb-secondary: 154, 147, 140;
  --alpha-rgb-25: 0.25;
  --alpha-rgb-50: 0.5;
  --alpha-rgb-75: 0.75;
  --alpha-rgb-100: 1;

  // Color text (btn, text, p, div, span)
  --text-primary: #007bff;
  --text-secondary: #6c757d;
  --text-success: #28a745;
  --text-danger: #FF0000;
  --text-warning: #ffc107;
  --text-info: #17a2b8;
  --text-info-ligth:#00a4e5;
  --text-light: #f8f9fa;
  --text-dark: #000000;
  --text-gray-dark: #343a40;
  --text-gray-light: #999999;
  --text-white: #ffffff;

  //Color Link
  --link-primary: #007bff;
  --link-secondary: #6c757d;
  --link-success: #28a745;
  --link-danger: #FF0000;
  --link-warning: #ffc107;
  --link-info: #17a2b8;
  --link-light: #f8f9fa;
  --link-dark: #000000;
  --link-gray-dark: #343a40;
  --link-gray-light: #999999;
  --link-white: #ffffff;
}


